.fade-enter-active,
.fade-leave-active {
    transition: all .4s ease-in-out;
}


.fade-enter-to,
.fade-leave-from {
    opacity: 1;
    transform: translateY(0);
}

.fade-enter-from,
.fade-leave-to
{
    transform: translateY(-190px);
    opacity: 0;
}


.trans-leave-active{
    transition: all .5s ease-in-out;
}


.trans-enter-from, 
.trans-leave-to {
    opacity: 0;
}


.trans-enter-to,
.trans-leave-from {
    opacity: 1.;
}
