.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 0 30px;
    z-index: 100;
}


.navbar-logo {
    display: flex;
    font-family: 'Monoton';
    width: var(--logo-size);
    height: var(--logo-size);
    color: var(--dark-white-color);
    font-size: var(--logo-font);
    border-radius: 50%;
    border: 2px solid var(--white-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: rotateRight ease var(--logo-animation-time);
    transform: rotate(0deg);
}


.navbar-logo:hover {
    animation: rotateLeft ease .3s;
    transform: rotate(var(--logo-rotate-angle));
    color: var(--white-color);
}


@keyframes rotateLeft {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(var(--logo-rotate-angle));
    }
}


@keyframes rotateRight {
    from {
        transform: rotate(var(--logo-rotate-angle));
    }
    to {
        transform: rotate(0deg);
    }
}


@keyframes fadeIn {
    from {
        opacity: .2;
    }
    to {
        opacity: 1.;
    }
}


@keyframes fadeOut {
    from {
        opacity: .8;
    }
    to {
        opacity: 0;
    }
}


.menu-btn {
    display: flex;
    width: var(--logo-size);
    height: var(--logo-size);
}


.menu-btn__btn {
    color: var(--dark-white-color);
    font-size: var(--logo-font);
    transition: all 8s linear;
}

